.auth-page {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form-container {
    --min-auth-height: 400px;
    --max-auth-height: 1000px;
    --min-auth-width: 300px;
    --max-auth-width: 500px;

    height: clamp(var(--min-auth-height), 70%, var(--max-auth-height));
    width: clamp(var(--min-auth-width), 40%, var(--max-auth-width));

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #383838;
    border-radius: 25px;

    -webkit-box-shadow: 0px 6px 15px 2px rgba(0, 0, 0, 0.51);
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.51);
}

.auth-form-modes-select {
    height: 10%;
    width: 100%;

    display: flex;
    flex-direction: row;
}

.auth-mode-button {
    width: 50%;

    color: var(--text-primary-color);
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;

    background-color: transparent;
    border: 0;
    border-bottom: 5px var(--text-primary-color) solid;

    transition: background-color 0.1s linear;
}

.auth-mode-button:hover:enabled {
    background: rgba(255, 255, 255, 0.205);

    cursor: pointer;
}

.auth-mode-button:disabled {
    background: var(--text-primary-color);
    color: white;

    cursor: auto;
}

.auth-mode-button.left {
    border-top-left-radius: 25px;
}

.auth-mode-button.right {
    border-top-right-radius: 25px;
}

/* the forms of login and passwords */
.auth-form {
    margin: 10% 0;

    width: clamp(calc(var(--min-auth-width) - 40px), 70%, var(--max-auth-width));

    display: flex;
    flex-direction: column;
}

.auth-section {
    margin: 3% 0;

    display: flex;
    flex-direction: column;

    font-weight: bold;
}

button.auth-submit {
    margin-top: 10%;

    padding: 10px 50px;

    align-self: center;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;

    border: 0;
    border-radius: 10px;
    background-color: var(--text-primary-color);
    color: white;

    transition: background-color 0.15s linear;
}

button.auth-submit:hover {
    background-color: white;
    color: var(--text-primary-color);

    cursor: pointer;
}
