:root {
    --primary-color: green;
    --secondary-color: #252525;

    --text-primary-color: #46c016;
}

html,
body,
#root,
.App {
    height: 100vh;
    width: 100vw;

    background-color: var(--secondary-color);
    color: white;

    caret-color: var(--text-primary-color);
}
